#categories {
  margin-top: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  color: #c9c3c3;
}

#categories-title {
  font-size: 2.6rem;
  letter-spacing: .4rem;
  border-left: 4px solid rgb(87, 85, 85);
  border-radius: 10px;
  padding-left: .8rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1.7rem;
  line-height: 2.3rem;
}

#categories-title span{
  font-weight: 700;
}


#gridder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.category-card {
  position: relative;
}

.category-img {
  filter: brightness(75%);
}


.over-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@media screen and (min-width: 1200px) {
  #gridder {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
    gap: 1rem;
  }

  #categories-title {
    font-size: 4.3rem;
    line-height: 4.6rem;
  }
}