.category-card-title{
  text-align: center;
}

.category-title{
  font-size: 1.3rem !important;
  color: white !important;
}

.category-title::first-letter {
  text-transform: uppercase;
}

.tutorial-card{
  background: var(--main-background) !important;
}


@media screen and (min-width: 1200px) {
  .category-title{
    font-size: 2rem !important;
  }
}