.category-card-title{
  text-align: center;
}

.category-title{
  font-size: 1.3rem !important;
  color: var(--main-background) !important;
}

.category-title::first-letter {
  text-transform: uppercase;
}

.tutorial-card{
  background: var(--main-background) !important;
}

.tuto-container{
  border-radius: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding-bottom: 1rem;
}

.tuto-img-container img{
  width: 100%;
}

.tuto-body-container{
  padding: 1rem;
}

.tuto-button-container, .report-button-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tuto-button-container button:first-child::after{
  content: "like";
  display: block;
  font-size: .8rem;
  font-weight: 600;
}

.tuto-button-container button:nth-child(2)::after{
  content: "reportar";
  display: block;
  font-size: .8rem;
  font-weight: 600;
}
.tuto-button-container button:nth-child(3)::after{
  content: "ver";
  display: block;
  font-size: .8rem;
  font-weight: 600;
}

.tuto-likes{
  color: var(--accent);
  margin-top: 1.3rem;
  font-weight: 600;
  font-size: 1.3rem;
}

.tuto-likes::after, .tuto-likes::before{
  color: white;
  content: " — ";
}

.report-button-container button:first-child::after{
  content: "Eliminar video";
  display: block;
  font-size: .8rem;
  font-weight: 600;
}
.report-button-container button:nth-child(2)::after{
  content: "Cancelar Reporte";
  display: block;
  font-size: .8rem;
  font-weight: 600;
}


@media screen and (min-width: 1200px) {
  .category-title{
    font-size: 2rem !important;
  }
}