#add-tutorial{
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 2.3rem;
  border-radius: 10px;
  border: 1px solid var(--accent);
}

#add-tutorial h2 {
  margin-bottom: 1.3rem;
}

#add-tutorial a{
  color: var(--accent);
  font-weight: 600;
}

form div:first-child{
  margin-bottom: 1rem;
}


@media screen and (min-width: 1200px) {
  #add-tutorial{
    margin-left: 25rem;
    margin-right: 25rem;
    padding-bottom: 5rem;
  }
} 
