#dashboard div:first-child{
  position: relative;;
  flex-direction: column;
  gap: .5rem;
}

#dashboard form{
  border: none;
  margin: 0;
  padding: 0;
}

#icon-container{
  top: 0;
  left: 59%;
  position: absolute;
  display: inline-block;
  padding: 1px;
  border-radius: 50%;
  cursor: pointer;
}

#avatar-input{
  display: none;
}