#tutorials{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pagination-container{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

@media screen and (min-width: 1200px) {

  .tutorials-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
    grid-template-rows: minmax(auto, max-content);
    gap: 2rem;
  }
}

