:root{
  --main-background: #001524;
  --main-second-color: #002024;
  --fonts: #DCE0EB;
  --accent: #EDAE49  ;
  --accent-second: #001524;
  --footer: #4C5B4E;
}

*{
  font-family: 'Darker Grotesque', sans-serif !important;
}

body{
  background-color: var(--main-background) !important;
  color: var(--fonts) !important;
  overflow-x: hidden;

}

h1,h2,h3,h4,h5{
  color: var(--fonts) !important;
}


.total-height{
  min-height: 100vh;
}

.spaced{
  padding-left: 1rem;
  padding-right: 1rem;
}

@media(min-width:600px){
  .spaced {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media(min-width:1200px){
  .spaced {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}


@media screen and (min-width: 1920px) {
  .spaced {
    padding-left: 25rem;
    padding-right: 25rem;
  }
}

/* ------- General Font Styles --------- */

h2{
  font-size: 2.7rem;
  font-weight: 600;
  line-height: 2.5rem;
}

h3{
  font-size: 2.3rem !important;
  font-weight: 600;
}