:root{
  --main-background: #353939;
  --fonts: #fdfbff;
  --accent: #fe6d5e;
}

*{
  font-family: 'Darker Grotesque', sans-serif !important;
}

body{
  background-color: var(--main-background) !important;
  color: var(--fonts) !important;
}

h1,h2,h3,h4,h5{
  color: var(--fonts) !important;
}


.total-height{
  min-height: 100vh;
}

.spaced{
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 1200px) {
  .spaced {
    padding-left: 25rem;
    padding-right: 25rem;
  }
}
