form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.7rem;
  border-radius: 10px;
  border: 1px solid var(--accent);
}

form input{
  border-color: var(--fonts) !important;
}



@media screen and (min-width: 1200px) {

  form{
    margin-left: 23rem;
    margin-right: 23rem;
  }
} 
