nav{
  margin-top: 1rem;
  top: 0;
  position:static;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .session-link:first-of-type{
  color: brown;
}

#logo{
  align-self: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.empty-div{
  opacity: 0;
  width: 10%;
}

.session-link{
  font-weight: 700;
  line-height: 1rem;
  text-align: center;
  letter-spacing: .1rem;
  font-size: .8rem;
}



