#contact-page{
  text-align: center;
  display: grid;
  gap: 3rem;
}

#contact-page h3{
  margin-bottom: 1.7rem;
}

#contact-page #faq{
  margin-left: 11rem;
  margin-right: 11rem;
}

#contact-page #faq .chakra-accordion{
  text-align: left;
}